* {
    margin: 0;
    padding: 0;
}
#container {
    padding: 30px;
} 
.header {
    width: 100%;
    height: 50px;
}  
.lupa {
    height: 17px;
    width: 16px;
    left: 2.5px;
    top: 2.5px;
    border-radius: 0px;
    color: #5B63A9;
}
.input {
    font-family: Montserrat;
    border: none;
    width: 400px;
    font-size: 17px;
    line-height: 15px;
    color: #90A0B7;
}

.right {
    float: right;
}
.avatar {
    border-radius: 90%;
    padding: 2px;
    border:2px solid pink;    
}
.text {
    display: flex;
}
.main-left {
    margin: 30px;
    width: 70%;

}
.main-right {
    width: 30%;
}
.text {
    margin-top: 40px;
    margin-bottom: 40px;
}
.text h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #1D262C;
}
.main-left input {
    font-family: Poppins;
    font-weight: 400;
    font-size: 12px;
    line-height: 9px;
}
.sp1 {
    color: rgb(244, 30, 65);
}
.text button {
    background-color: #884CB2;
    color: white;
    font-size: large;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    width: 200px;
    height: 50px;
    float: left;
    margin-left: 10px;
}
.sp2 {
    border: 1.5px solid #FFFFFF;
    width: 10px;
    height: 10px;
    border-radius: 2px;
}
.list h3 {
    font-size: x-large;
    font-weight: 500;
    margin: 20px;
}
.row1 {
    display: flex;
    margin: 10px;
    align-items: center;
}
.circle {
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 90%;
    background: linear-gradient(133.9deg, rgba(243, 71, 122, 0.7) 0.24%, rgba(136, 76, 178, 0.7) 95.04%);
    margin: 10px;
}
.circlev2 {
    width: 10px;
    height: 10px;
    border-radius: 90%;
    background-color: black;
    margin: 10px;
}
.list p {
    font-size: larger;
    letter-spacing: 0.5px;
}
.action {
    background-color: rgba(242, 153, 74, 0.2);
    border-radius: 8.5px;
    color:#F2994A;
    padding: 5px;
}
.crc_tx {
    display: flex;
    align-items: center;
}
.crc {
    border-radius: 90%;
    border: 5px solid green;
    width: 10px;
    height: 10px;
}
.people {
    display: flex;
    text-align: center;
}
.first {
    background-color: #FBAC65;
    border-radius: 90%;
    width: 35px;
    height: 35px;
    display: flex;
    text-align: center;
    justify-content: center;
}
.second {
    background-color: lightskyblue;
    border-radius: 90%;
    width: 35px;
    height: 35px;
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    left: -10px;
}
.third {
    background-color: rgb(255, 255, 93);
    border-radius: 90%;
    width: 35px;
    height: 35px;
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
    left: -20px;
}
.four {
    background-color: #6FCF97;
    color: white;
    border-radius: 90%;
    width: 35px;
    height: 35px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -30px;
}
hr {
    background-color: lightgrey;
    border: none;
    height: 2px;
    width: 100%;
}
.row1 {
    
    justify-content: space-between;
}
